<div class="card">
  <div class="card-body">
    <div class="table-header bg-info text-white">
      <div class="row">
        <div class="col-sm-2 text-center p-1">Id</div>
        <div class="col-sm-3 p-1">Model</div>
        <div class="col-sm-2 text-center p-1">Weight</div>
        <div class="col-sm-3 text-center p-1">Date available</div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="table-body">
      <div class="row custom-tr" *ngFor="let item of currentShowingHeadphones">
        <div class="col-sm-2 text-center p-1">{{ item.id }}</div>
        <div class="col-sm-3 p-1">
          <span *ngIf="!item.editing">{{ item.item_model_number }}</span>
          <input *ngIf="item.editing" type="text" [value]="item.item_model_number"
            [formControl]="editingHeadphoneModelNumber" class="form-control inp-sm">
        </div>
        <div class="col-sm-2 text-center p-1">
          <span *ngIf="!item.editing">{{ item.item_weight }}</span>
          <input *ngIf="item.editing" type="text" [value]="item.item_weight" [formControl]="editingHeadphoneWeight"
            class="form-control">
        </div>
        <div class="col-sm-3 p-1 text-center">
          <span *ngIf="!item.editing">{{ item.date_first_available }}</span>
          <input *ngIf="item.editing" type="text" [value]="item.date_first_available"
            [formControl]="editingHeadphoneDate" class="form-control">
        </div>
        <div class="col-sm-2">
          <div *ngIf="item.editing">
            <a href="#" (click)="update( item )" class="badge badge-success mr-2"><i class="fa fa-save"></i></a>
            <a href="#" (click)="cancelEdit( item )" class="badge badge-secondary"><i class="fa fa-close"></i></a>
          </div>
          <div *ngIf="!item.editing">
            <a href="#" (click)="show( item )" class="badge badge-info mr-2"><i class="fa fa-eye"></i></a>
            <a href="#" (click)="edit( item )" class="badge badge-warning mr-2"><i class="fa fa-edit"></i></a>
            <a href="#" (click)="delete( item )" class="badge badge-danger "><i class="fa fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="table-pagination bg-default mt-2">
      <div class="row">
        <div class="col-sm-12 text-right mr-3">
          <span class="mr-1">
            Showing from
            <b>{{ getCurrentPageInfo() }}</b>
            to
            <b>{{ getPageTo() }}</b>
            of
            <b>{{ paginationData.totalItems }}</b>
          </span>

          <button [disabled]="!canGoBack()" class="btn btn-info mr-1 btn-sm" (click)="prev()"><i
              class="fa fa-arrow-left"></i>
            Prev</button>
          <button [disabled]="!canGoNext()" class="btn btn-info btn-sm" (click)="next()">Next<i
              class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="show-headphone-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-heading">Headphone detail</h3>
        <button type="button" class="close" (click)="closeReadonlyModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <p><b>Model number:</b> {{ currentHeadphone?.item_model_number }}</p>
            <p><b>Dimensions:</b> {{ currentHeadphone?.product_dimensions }}</p>
            <p><b>Weight:</b> {{ currentHeadphone?.item_weight }}</p>
            <p><b>Manufacturer:</b> {{ currentHeadphone?.manufacturer }}</p>
            <p><b>ASIN:</b> {{ currentHeadphone?.asin }}</p>
            <p><b>Batteries type:</b> {{ currentHeadphone?.batteries_type }}</p>
            <p><b>Date first available: </b>{{ currentHeadphone?.date_first_available }}</p>
          </div>
        </div>
      </div>
      <div class="modal-body text-right">
        <button class="btn btn-secondary mr-2" (click)="closeReadonlyModal()">Close</button>
      </div>
    </div>
  </div>
</div>
