.mat-elevation-z8 {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.sm-input {
  width: 150px;
}

.table-body {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table-header,
.table-footer {
  font-weight: bold;
}

.custom-tr {
  border-bottom: solid 1px #ccc;
}

.badge {
  padding: 5px 8px;
}
