<div class="card">
  <div class="card-body">
    <div class="table-header bg-info text-white">
      <div class="row">
        <div class="col-sm-1 text-center p-1">Id</div>
        <div class="col-sm-2 p-1">Model</div>
        <div class="col-sm-2 p-1">Manufacturer</div>
        <div class="col-sm-1 text-center p-1">Weight</div>
        <div class="col-sm-1 text-center p-1">ASIN</div>
        <div class="col-sm-2 text-center p-1">Date available</div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="table-body">
      <div class="row custom-tr" *ngFor="let item of currentShowingHeadphones">
        <div class="col-sm-1 text-center p-1">{{ item.id }}</div>
        <div class="col-sm-2 p-1">
          <span *ngIf="!item.editing">{{ item.modelNumber }}</span>
          <input *ngIf="item.editing" type="text" [value]="item.modelNumber" name="editingHeadphoneModelNumber"
            [formControl]="editingHeadphoneModelNumber" class="form-control inp-sm">
        </div>
        <div class="col-sm-2 p-1">
          <span *ngIf="!item.editing">{{ item.manufacturer }}</span>
          <input *ngIf="item.editing" type="text" [value]="item.manufacturer" name="editingHeadphoneManufacturer"
            [formControl]="editingHeadphoneManufacturer" class="form-control inp-sm">
        </div>
        <div class="col-sm-1 text-center p-1">
          <span *ngIf="!item.editing">{{ item.weight }}</span>
          <input *ngIf="item.editing" type="text" [value]="item.weight" name="editingHeadphoneWeight"
            [formControl]="editingHeadphoneWeight" class="form-control">
        </div>
        <div class="col-sm-1 p-1 text-center">
          <span *ngIf="!item.editing">{{ item.asin }}</span>
          <input *ngIf="item.editing" type="text" [value]="item.asin" name="editingHeadphoneASIN"
            [formControl]="editingHeadphoneASIN" class="form-control">
        </div>
        <div class="col-sm-2 p-1 text-center">
          <span *ngIf="!item.editing">{{ shortDate(item.dateFirstAvailable) }}</span>
          <input *ngIf="item.editing" type="date" [value]="item.dateFirstAvailable" name="editingHeadphoneDate"
            [formControl]="editingHeadphoneDate" class="form-control">
        </div>
        <div class="col-sm-2">
          <div *ngIf="item.editing">
            <button [disabled]="loading" (click)="update( item )" class="btn btn-success btn-sm mr-2"><i
                class="fa fa-save"></i></button>
            <button [disabled]="loading" (click)="cancelEdit( item )" class="btn btn-secondary btn-sm"><i
                class="fa fa-close"></i></button>
          </div>
          <div *ngIf="!item.editing">
            <button [disabled]="loading" (click)="show( item )" class="btn btn-info btn-sm mr-2"><i
                class="fa fa-eye"></i></button>
            <button [disabled]="loading" (click)="edit( item )" class="btn btn-warning btn-sm mr-2"><i
                class="fa fa-edit"></i></button>
            <button [disabled]="loading" (click)="delete( item )" class="btn btn-danger btn-sm "><i
                class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGINATION -->
    <div class="table-pagination bg-default mt-2">
      <div class="row">
        <div class="col-sm-12 text-right mr-3">
          <span class="mr-1">
            Showing from
            <b>{{ getCurrentPageInfo() }}</b>
            to
            <b>{{ getPageTo() }}</b>
            of
            <b>{{ paginationData.totalItems }}</b>
          </span>

          <button [disabled]="!canGoBack()" class="btn btn-info mr-1 btn-sm" (click)="prev()"><i
              class="fa fa-arrow-left"></i>
            Prev</button>
          <button [disabled]="!canGoNext()" class="btn btn-info btn-sm" (click)="next()">Next<i
              class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DETAIL MODAL -->
<div class="modal fade" id="show-headphone-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-heading">Headphone detail</h3>
        <button type="button" class="close" (click)="closeReadonlyModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <p><b>Model number:</b> {{ currentHeadphone?.modelNumber }}</p>
            <p><b>Dimensions:</b> {{ currentHeadphone?.dimensions }}</p>
            <p><b>Weight:</b> {{ currentHeadphone?.weight }}</p>
            <p><b>Manufacturer:</b> {{ currentHeadphone?.manufacturer }}</p>
            <p><b>ASIN:</b> {{ currentHeadphone?.asin }}</p>
            <p><b>Batteries type:</b> {{ currentHeadphone?.batteiresType }}</p>
            <p><b>Date first available: </b>{{ currentHeadphone?.dateFirstAvailable }}</p>
          </div>
        </div>
      </div>
      <div class="modal-body text-right">
        <button class="btn btn-secondary mr-2" (click)="closeReadonlyModal()">Close</button>
      </div>
    </div>
  </div>
</div>
